.postWrapper {
  background: #ddd;
}

.postTitle {
  font-size: 2rem;
  line-height: 1.4;
  margin: 0.8rem 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 600px){
  .postTitle {
    margin: 1.4rem 0 2rem;
    font-size: 3rem;
  }
}

.postBody {
  font-size: 1.2rem;
  line-height: 1.8;
}

.postDate {
  margin: 3rem 0;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}