.catList {
  list-style: none;
  margin: 4rem 0 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0.4rem 1.8rem;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.6rem;
    background: #eee;
    color: rgb(0, 97, 153);
    border-radius: 6px;

    @media (min-width: 580px){
      font-size: 1.4rem;
    }
    @media (min-width: 680px){
      font-size: 1.6rem;
      border-radius: 8px;
    }
    @media (min-width: 880px){
      font-size: 1.8rem;
    }

    &:hover {
      background: rgb(0, 97, 153);
      color: #fff;
    }
  }
}