.blogtitle {
  width: 210px;
  height: 80px;
  overflow: hidden;
  margin: 3rem auto 2rem;
  text-indent: -9999px;
  background: url(../assets/rnote-logo.png) no-repeat 0 0;
  background: url(../assets/rnote-logo.svg) no-repeat 0 0, linear-gradient(transparent, transparent);
  background-size: 210px 160px;
}

.postlist {
  list-style: none;
  margin: 0 0 4rem;
  padding: 0;
}

.postlist li {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.3;
}

.postlist a {
  text-decoration: none;
  color: rgb(0, 97, 153);
}

.postlist a:hover {
  background: #eee;
}

.postlist span {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: #888;
  border-radius: 2px;
}

.totalposts {
  text-align: center;
  font-size: 1.1rem;
  color: #666;
}