.wrapper {
  max-width: 780px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titleLink {
  text-decoration: none;
  color: rgb(0, 97, 153);
}

.blogTitle {
  text-align: center;
  margin: 0;
  padding: 1rem;
}