.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  margin: 0.3rem;
  min-height: 100vh;
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;

  @media (min-width: 800px){
    margin: 0.6rem auto;
    padding: 0.8rem;
    border-radius: 6px;
  }
}

.titleLink {
  display: block;
  margin: 2.8rem auto 1.4rem;
  width: 120px;
  height: 42px;

  @media (min-width: 580px){
    margin: 3.4rem auto 1.2rem;
  }
}

.blogTitle {
  width: 120px;
  height: 42px;
  background: #ddd;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../assets/rnote-logo.png) no-repeat 0 0;
  background: url(../assets/rnote-logo.svg) no-repeat 0 0, linear-gradient(transparent, transparent);
  background-size: 120px 84px;
}