.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  margin: 0.3rem;
  min-height: 100vh;
  background: #fff;
  border-radius: 3px;
  box-shadow: #999 0 2px 6px;
}
@media (min-width: 800px){
  .wrapper {
    margin: 0.6rem auto;
    padding: 0.8rem;
  }
}

.titleLink {
  display: block;
  margin: 2rem auto;
  width: 80px;
  height: 30px;
}

.blogTitle {
  width: 80px;
  height: 30px;
  background: #ddd;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../assets/rnote-logo.png) no-repeat 0 -30.5px;
  background: url(../assets/rnote-logo.svg) no-repeat 0 -30.5px, linear-gradient(transparent, transparent);
  background-size: 80px 61px;
}
.blogTitle:hover {
  background: url(../assets/rnote-logo.png) no-repeat 0 0;
  background: url(../assets/rnote-logo.svg) no-repeat 0 0, linear-gradient(transparent, transparent);
  background-size: 80px 61px;
}

.bottomLink {
  display: block;
  width: 6rem;
  margin: 6rem auto 2rem;
  padding: 0.6rem 1rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 2rem;
  background: #eee;
  color: #555;
  transition: background-color 0.6s, color 0.6s;
}
@media (min-width: 480px){
  .bottomLink {
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
  }
}

.bottomLink:hover {
  background: rgb(0, 97, 153);
  color: #fff;
}